.items {
    padding-right: 10px;
}

.summary {
    padding-left: 10px;
}

.title {
    font-size: 28px;
    font-weight: bolder;
    color: black;
}

.date {
    font-size: 18px;
    color: grey;
    margin-left: 10px;
}

.status {
    margin-bottom: 10px;
    margin-left: 10px;
}