.modal {
    padding: 32px, 32px, 24px
}

.icon {
    color: lightsalmon;
    margin-right: 10px;
    font-size: 20px;
}

.message {
    color: black;
}

.operation {
    margin-left: 10px;
}

.row-reason {
    width: 95%;
}

.reason-row {
    margin: 10px;
}
