.title {
    font-size: 20px;
    text-align: center;
    font-weight: border;
    color: black;
}

.address {
    text-align: center;
    font-size: 16px;
    color: black;
}

.form {
    font-size: 32px;
    text-align: center;
    font-weight: border;
    color: black;
    margin: 30px;
}